
  body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161716;
    margin: 0;
    padding: 0;
    color: #d2d8cf;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  main {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 310px;
    transform: translateY(-100px);
    text-align: center;
  }

  .time {
    display: block;
    margin-bottom: 20px;
    font-size: 5rem;
    letter-spacing: 6px;
  }

  input,
  input:focus {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input {
    box-sizing: border-box;
    padding: 12px;
    transition: 0.5s;
    border-radius: 2px;
    background-color: #d2d8cf;
    color: #5d6560;
    font-size: 1.1rem;
  }

  aside[data-toggled='true'] {
    transform: translateX(0);
  }

  h1 {
    line-height: 1rem;
  }

.main{
	margin: 100px;
}